---
import LinkBtn from "../components/LinkBtn.astro";

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#F16529] text-white",
    icon: "/Logos/HTML.webp",
  },
  CSS: {
    name: "CSS",
    class: "bg-[#2D53E5] text-white",
    icon: "/Logos/CSS.webp",
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F7E025] text-black",
    icon: "/Logos/Javascript.webp",
  },
  REACT: {
    name: "React",
    class: "bg-[#0a4051] text-white",
    icon: "/Logos/React.webp",
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: "/Logos/Astro.webp",
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: "/Logos/Tailwind.webp",
  },
};

const PROJECTS = [
  {
    title: "Bufete Riazzo",
    description:
      "Proyecto Freelance de una Landing Page para Riazzo y Asociados | Abogados",
    link: "https://www.bufeteriazzo.com/",
    github: "https://github.com/FrankmDev/riazzo",
    image: "/RiazzoAbogados.avif",
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.REACT],
  },
  {
    title: "Urban Loft",
    description:
      "Landing Page Freelance para un piso turístico en la ciudad de Córdoba",
    link: "https://urban-loft.vercel.app/",
    github: "https://github.com/FrankmDev/urban-loft",
    image:
      "https://dottointeriorismo.com/wp-content/uploads/2020/05/apartamento-turistico-san-sebastian-gunartea-8.jpg",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "NIMBUS | Fitness Blog",
    description:
      "Blog Fitness dedicado a divulgar información de utilidad sobre nutrición, entrenamiento y vida saludable.",
    link: "https://nimbus-fitness.vercel.app/",
    github: "https://github.com/FrankmDev/nimbus",
    image: "/Omnifood.avif",
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.REACT],
  },
];
---

<div class="flex flex-col gap-y-16 mt-6">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <a href={link} target="_blank">
              <img
                alt="Project Image"
                class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                src={image}
              />
            </a>
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold ">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <img
                      src={tag.icon}
                      alt="Logo"
                      class="size-4 object-contain"
                    />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-500">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && <LinkBtn href={github}>Code</LinkBtn>}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
